*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* variables */

:root{
    --secondary-bg-color: rgb(185, 182, 182);
    --btn-color: rgb(86, 86, 202);
}

/* shared css */
.a{
    text-decoration: none;
    color: black !important;
}
ul{
    list-style-type: none;
}
.bg_img{
    width: 100% !important;
}
.btn{
    background-color: var(--btn-color) !important;
}
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    
}
.card-img-top{
    height: 50%;
}
/* header */
nav{
    box-shadow: 4px 3px 12px;
}

.submenu{
    box-shadow: 4px 4px 12px;
    left: -1cm !important;
    margin-top: 10px !important;
}
.dropdown-item:hover{
    background-color: var(--secondary-bg-color) !important;
    border-radius: 5px;
}
/* cards */

.card-body{
    text-align: right;
}
